body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: rgb(127, 140, 255);
    background: rgb(0, 0, 0);
    text-align: center;
    
}

h1 {
    font-size: 200%;
    color: rgb(255, 255, 255);
}

li {
    text-align: center;
}

    